@import "src/index.scss";

.container {
  font-family: sans-serif;
  padding: 10px;
  color: $first;
  h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    //  gap: 10px;
    background-color: $black;
    border-radius: 10px;
    .list {
      padding: 5px 10px;
    }
  }
  &.green {
    background-color: $player-green;
  }
  &.orange {
    background-color: $player-orange;
  }
  &.pink {
    background-color: $player-pink;
  }
  &.blue {
    background-color: $player-blue;
  }
}
