@import "src/index.scss";

.container {
  height: 100%;
  .wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px;
    .token_group {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      gap: 5px;
      margin-bottom: 5px;
      .token_stack {
        height: 100%;
        position: relative;
        width: 70px;
      }
    }
    .card_stack {
      width: 60px;
      position: relative;
    }
    &.green {
      border: 4px solid $player-green;
    }
    &.orange {
      border: 4px solid $player-orange;
    }
    &.pink {
      border: 4px solid $player-pink;
    }
    &.blue {
      border: 4px solid $player-blue;
    }
    border-right: none !important;
  }
}
