@import "src/index.scss";

.list_item {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    display: flex;
    align-items: center;
    .badge {
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      margin-right: 10px;
      height: 30px;
      width: 30px;
      background-color: $first;
      border-radius: 50%;
      &.green {
        border: 3px solid $player-green;
      }
      &.orange {
        border: 3px solid $player-orange;
      }
      &.pink {
        border: 3px solid $player-pink;
      }
      &.blue {
        border: 3px solid $player-blue;
      }
    }
    & span {
      &.green {
        color: $player-green;
        // text-decoration: underline;
        text-decoration-color: $player-green;
      }
      &.orange {
        color: $player-orange;
        // text-decoration: underline;
        text-decoration-color: $player-orange;
      }
      &.pink {
        color: $player-pink;
        // text-decoration: underline;
        text-decoration-color: $player-pink;
      }
      &.blue {
        color: $player-blue;
        // text-decoration: underline;
        text-decoration-color: $player-blue;
      }
    }
  }
  &__costs {
    gap: 4px;
    display: flex;
    align-items: center;
    display: flex;
    .overflow_container {
      display: flex;
      align-items: center;
      &__number {
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}
