@import "src/index.scss";

.list_item {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    display: flex;
    align-items: center;
    .badge {
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      margin-right: 10px;
      height: 30px;
      width: 30px;
      background-color: $first;
      border-radius: 50%;

      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      border-radius: 50%;

      &.air_station {
        background-image: url("../../../../../assets/air-station.png");
      }
      &.food_station {
        background-image: url("../../../../../assets/food-station.png");
      }
      &.mineral_station {
        background-image: url("../../../../../assets/mineral-station.png");
      }
      &.base {
        background-color: $black;
        background-image: url("../../../../../assets/white-star.png");
      }
      &.green {
        background-color: $player-green;
      }
      &.orange {
        background-color: $player-orange;
      }
      &.pink {
        background-color: $player-pink;
      }
      &.blue {
        background-color: $player-blue;
      }
      &.laboratory {
        background-image: url("../../../../../assets/laboratory-two.png");
      }
      &.peaceful_mission {
        background-image: url("../../../../../assets/peaceful-mission.png");
      }
      &.agressive_mission {
        background-image: url("../../../../../assets/agressive-mission.png");
      }
      &.road {
        border-radius: 0;
        height: 30px;
        width: 6px;
        margin-left: 13px;
        margin-right: 20px;
      }
      &.H2O_station {
        background-image: url("../../../../../assets/h2o-station.png");
        background-size: 110%;
      }
    }
    & span {
      &.green {
        color: $player-green;
        text-decoration-color: $player-green;
      }
      &.orange {
        color: $player-orange;
        text-decoration-color: $player-orange;
      }
      &.pink {
        color: $player-pink;
        text-decoration-color: $player-pink;
      }
      &.blue {
        color: $player-blue;
        text-decoration-color: $player-blue;
      }
    }
  }
  &__costs {
    gap: 4px;
    display: flex;
    align-items: center;
    display: flex;
    .overflow_container {
      display: flex;
      align-items: center;
      &__number {
        font-size: 14px;
        margin-right: 2px;
      }
    }
  }
}
